<!DOCTYPE html>
<html>
<body>

<h2>The list Attribute</h2>
<p>The list attribute refers to a datalist element that contains pre-defined options for an input element.</p>

<form action="http://localhost:5000/classification" method="get">

<input list="browsers" name="browser">
<datalist id="browsers">
  <option value="Logistic Regression">
  <option value="KNN Classifier">
  <option value="Naive Bayes">
  <option value="Support Vector Classifier">
  <option value="Decsion Tree Classifier">
  <option value="Random Forest Classifier">
</datalist>

<input type="submit">
</form>

<p><b>Note:</b> The datalist tag is not supported in Internet Explorer 9 and earlier versions, or in Safari.</p>

</body>
</html>
